In [271]:
#TO FIND GREATEST OF TWO NO
a,b=10,20
if(a>b):
    print(f"{a} is greater ")
else:
    print(f"{b} is greater ")

20 is greater

In [282]:
#TO FIND GREATEST OF THREE NO
a,b,c=50,10,300
if(a>b):
    if(a>c):
        print(f"{a} is greater ")
    else:
        print(f"{c} is greater")
else:
    if(b>c):
        print(f"{b} is greater")
    else:
        print(f"{c} is greater")

300 is greater

In [285]:
#TO FIND GREATEST OF THREE NO
a,b,c,d=100,20,30,40
if(a>b):
    if(a>c):
        if(a>d):
            print(f"{a} is greater")
        else:
            print(f"{d} is greater")
    else:
        if(c>d):
            print(f"{c} is greater")
        else:
            print(f"{d} is greater")
else:
    if(b>c):
        if(b>d):
            print(f"{b} is greater")
        else:
            print(f"{d} is greater")
    else:
        if(c>d):
            print(f"{c} is greater")
        else:
            print(f"{d} is greater")

100 is greater

In [5]:
#TO FIND HIGHEST AMONG THREE NO
a,b,c=100,202,11
if(a>b and a>c):
    print("a is the greatest")
elif(b>c):
    print("b is the greatest")
else:
    print("c is the greatest")

b is the greatest

In [10]:
#TO FIND THE GREATEST AMONG FOUR NO
a,b,c,d=10,1,81,31
if(a>b and a>c and a>d):
    print("a is the greatest")
elif(b>c and b>d):
    print("b is the greatest")
elif(c>d):
    print("c is the greatest")
else:
    print("d is the greatest")

c is the greatest

In [11]:
#TO FIND THE GREATEST AMONG FIVE NO
a,b,c,d,e=10,22,41,9,4
if(a>b and a>c and a>d and a>e):
    print("a is the greatest")
elif(b>c and b>d and b>e):
    print("b is the greatest")
elif(c>d and c>e):
    print("c is the greatest")
elif(d>e):
    print("d is the greatest")
else:
    print("e is the greatest")

c is the greatest

In [18]:
#LEAP YEAR
year=1904
if(year%100==0):
    if(year%400==0):
        print(f"{year} is a LEAP YEAR")
    else:
        print(f"{year} is not a LEAP YEAR")
else:
    if(year%4==0):
        print(f"{year} is a LEAP YEAR")
    else:
        print(f"{year} is not a LEAP YEAR")

1904 is a LEAP YEAR

In [22]:
#LEAP YEAR
year=1900
if(year%400==0):
    print(f"{year} is a LEAP YEAR")
elif(year%100!=0 and year%4==0):
    print(f"{year} is a LEAP YEAR")
else:
    print(f"{year} is not LEAP YEAR")

1900 is not LEAP YEAR

In [23]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [24]:
list(range(10,0,-1))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [25]:
list(range(-1,-10,-1))

[-1, -2, -3, -4, -5, -6, -7, -8, -9]

In [26]:
list(range(-10,-1,))

[-10, -9, -8, -7, -6, -5, -4, -3, -2]

In [28]:
i=1
while i!=11:
    print(i,end=' ')
    i+=1

1 2 3 4 5 6 7 8 9 10

In [30]:
i=10
while i!=0:
    print(i, end=' ')
    i-=1

10 9 8 7 6 5 4 3 2 1

In [31]:
i=-1
while i!=-11:
    print(i, end=' ')
    i-=1

-1 -2 -3 -4 -5 -6 -7 -8 -9 -10

In [33]:
i=-10
while i!=0:
    print(i, end=' ')
    i+=1

-10 -9 -8 -7 -6 -5 -4 -3 -2 -1

In [40]:
for i in range(0,5):
    for j in range(0,5):
        print('*',end=' ')
    print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [42]:
str=1
n=5
for i in range(0,n):
    for j in range(0,str):
        print('*',end=' ')
    print()
    str+=1

*
* *
* * *
* * * *
* * * * *

In [44]:
str=5
n=5
for i in range(0,n):
    for j in range(0,str):
        print('*',end=' ')
    print()
    str-=1

* * * * *
* * * *
* * *
* *
*

In [49]:
str=1
n=5
sp=n-1
for i in range(0,n):
    for j in range(0,sp):
        print(' ',end=' ')
    for k in range(0,str):
        print('*',end=' ')
    print()
    sp-=1
    str+=1

        *
      * *
    * * *
  * * * *
* * * * *

In [50]:
str=5
n=5
sp=0
for i in range(0,n):
    for j in range(0,sp):
        print(' ',end=' ')
    for k in range(0,str):
        print('*',end=' ')
    print()
    str-=1
    sp+=1

* * * * *
  * * * *
    * * *
      * *
        *

In [54]:
str=1
n=5
sp=n-1
for i in range(0,n):
    for j in range(0,sp):
        print(' ',end=' ')
    for k in range(0,str):
        print('*',end=' ')
    print()
    sp-=1
    str+=2

        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *

In [1]:
str=9
n=5
sp=0
for i in range(0,n):
    for j in range(0,sp):
        print(' ',end=' ')
    for k in range(0,str):
        print('*',end=' ')
    print()
    str-=2
    sp+=1

* * * * * * * * *
  * * * * * * *
    * * * * *
      * * *
        *

In [5]:
n=1
while n!=11:
    if n==4:
        break
    print(n,end=' ')
    n+=1
print('control outside the block')

1 2 3 control outside the block

In [ ]:
n=1
while n!=11:
    if n==4:
        continue
    print(n,end=' ')
    n+=1
print('control outside the block')

1 2 3

In [1]:
n=1
while n!=11:
    if n==4:
        pass
    print(n,end=' ')
    n+=1
print('control outside the block')

1 2 3 4 5 6 7 8 9 10 control outside the block

In [10]:
n=5
for i in range(0,n):
    for j in range(0,n):
        if (i<n//2):
            print('*',end=' ')
        elif(i==n//2):
            print('@',end=' ')
        else:
            print('#',end=' ')
    print()

* * * * *
* * * * *
@ @ @ @ @
# # # # #
# # # # #

In [11]:
n=5
for i in range(0,n):
    for j in range(0,n):
        if(i%2==0):
            print('*',end=' ')
        else:
            print('@',end=' ')
    print()

* * * * *
@ @ @ @ @
* * * * *
@ @ @ @ @
* * * * *

In [1]:
n=7
str=1
sp=n//2
for i in range(0,n):
    for j in range(0,sp):
        print(' ',end=' ')
    for k in range(0,str):
        print('*',end=' ')
    print()
    if i<n//2:
        str+=2
        sp-=1
    else:
        str-=2
        sp+=1

      *
    * * *
  * * * * *
* * * * * * *
  * * * * *
    * * *
      *

In [1]:
n=5
num=1
for i in range(0,n):
    for j in range(0,n):
        print(num,end=' ')
    print()
    num=num+1 if i<n//2 else num-1

1 1 1 1 1
2 2 2 2 2
3 3 3 3 3
2 2 2 2 2
1 1 1 1 1

In [33]:
n=5
num=3
for i in range(0,n):
    for j in range(0,n):
        print(num,end=' ')
    print()
    num=num-1 if i<n//2 else num+1

3 3 3 3 3
2 2 2 2 2
1 1 1 1 1
2 2 2 2 2
3 3 3 3 3

In [36]:
n=5
for i in range(0,n):
    num=1
    for j in range(0,n):
        print(num,end=' ')
        num+=1
    print()

1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5

In [37]:
n=5
for i in range(0,n):
    num=5
    for j in range(0,n):
        print(num,end=' ')
        num-=1
    print()

5 4 3 2 1
5 4 3 2 1
5 4 3 2 1
5 4 3 2 1
5 4 3 2 1

In [40]:
n=5
for i in range(0,n):
    num=1
    for j in range(0,n):
        print(num,end=' ')
        num=num+1 if j<n//2 else num-1 
    print()

1 2 3 2 1
1 2 3 2 1
1 2 3 2 1
1 2 3 2 1
1 2 3 2 1

In [7]:
n=5
st=1
num=1
sp=n-1
for i in range(0,n):
    for j in range(0,sp):
        print(' ',end=' ')
    for k in range(0,st):
        print(num,end=' ')
    print()
    num+=1
    sp-=1
    st+=2

        1
      2 2 2
    3 3 3 3 3
  4 4 4 4 4 4 4
5 5 5 5 5 5 5 5 5

In [9]:
n=5
sp=n-1
st=1
for i in range(0,n):
    num=1
    for j in range(0,sp):
        print(' ',end=' ')
    for k in range(0,st):
        print(num,end=' ')
        num+=1
    print()
    st+=2
    sp-=1

        1
      1 2 3
    1 2 3 4 5
  1 2 3 4 5 6 7
1 2 3 4 5 6 7 8 9

In [16]:
n=5
st=1
for i in range(0,n):
    num=i+1
    for j in range(0,st):
        print(num,end=' ')
        num-=1
    print()
    st+=1

1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

In [20]:
n=5
st=1
for i in range(0,n):
    num=1
    for j in range(0,st):
        print(num,end=' ')
        num+=1
    print()
    st+=1

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [25]:
n=5
st=1
sp=n-1
for i in range(0,n):
    num=i+1
    for j in range(0,sp):
        print(' ',end=' ')
    for k in range(0,st):
        print(num,end=' ')
        num-=1
    print()
    sp-=1
    st+=1

        1
      2 1
    3 2 1
  4 3 2 1
5 4 3 2 1

In [26]:
n=5
st=1
sp=n-1
for i in range(0,n):
    num=1
    for j in range(0,sp):
        print(' ',end=' ')
    for k in range(0,st):
        print(num,end=' ')
        num=num+1 if k<st//2 else num-1
    print()
    sp-=1
    st+=2

        1
      1 2 1
    1 2 3 2 1
  1 2 3 4 3 2 1
1 2 3 4 5 4 3 2 1

In [29]:
n=5
st=1
sp=n-1
for i in range(0,n):
    num=i+1
    for j in range(0,sp):
        print(' ',end=' ')
    for k in range(0,st):
        print(num,end=' ')
        num=num-1 if k<st//2 else num+1
    print()
    sp-=1
    st+=2

        1
      2 1 2
    3 2 1 2 3
  4 3 2 1 2 3 4
5 4 3 2 1 2 3 4 5

In [35]:
n=5
st=1
for i in range(0,n):
    num=i+1
    for j in range(0,st):
        print(num,end=' ')
        num-=1
    print()
    st+=1

1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

In [38]:
n=5
st=1
sp=n-1
for i in range(0,n):
    num=i+1
    for j in range(0,sp):
        print(' ',end=' ')
    for k in range(0,st):
        print(num,end=' ')
    print()
    sp-=1
    st+=1

        1
      2 2
    3 3 3
  4 4 4 4
5 5 5 5 5

In [43]:
n=5
st=1
sp=n-1
for i in range(0,n):
    num=1
    for j in range(0,sp):
        print(' ',end=' ')
    for k in range(0,st):
        print(num,end=' ')
        num+=1
    print()
    sp-=1
    st+=2

        1
      1 2 3
    1 2 3 4 5
  1 2 3 4 5 6 7
1 2 3 4 5 6 7 8 9

In [1]:
n=7
st=1
sp=n//2
for i in range(0,n):
    num=1
    for j in range(0,sp):
        print(' ',end=' ')
    for k in range(0,st):
        print(num,end=' ')
        num+=1
    print()
    if i<n//2:
        sp-=1
        st+=2
    else:
        sp+=1
        st-=2

      1
    1 2 3
  1 2 3 4 5
1 2 3 4 5 6 7
  1 2 3 4 5
    1 2 3
      1

In [6]:
n=7
st=1
sp=n//2
for i in range(0,n):
    num=i+1
    for j in range(0,sp):
        print(' ',end=' ')
    for k in range(0,st):
        print(num,end=' ')
    print()
    if i<n//2:
        sp-=1
        st+=2
    else:
        sp+=1
        st-=2

      1
    2 2 2
  3 3 3 3 3
4 4 4 4 4 4 4
  5 5 5 5 5
    6 6 6
      7

In [7]:
n=7
st=1
sp=n//2
for i in range(0,n):
    num=n-i
    for j in range(0,sp):
        print(' ',end=' ')
    for k in range(0,st):
        print(num,end=' ')
    print()
    if i<n//2:
        sp-=1
        st+=2
    else:
        sp+=1
        st-=2

      7
    6 6 6
  5 5 5 5 5
4 4 4 4 4 4 4
  3 3 3 3 3
    2 2 2
      1

In [8]:
n=7
sp=n//2
st=1
for i in range(0,n):
    num=st//2+1
    for j in range(0,sp):
        print(' ',end=' ')
    for k in range(0,st):
        print(num,end=' ')
    print()
    if i<n//2:
        sp-=1
        st+=2
    else:
        sp+=1
        st-=2

      1
    2 2 2
  3 3 3 3 3
4 4 4 4 4 4 4
  3 3 3 3 3
    2 2 2
      1

In [10]:
n=7
sp=n//2
st=1
for i in range(0,n):
    num=st
    for j in range(0,sp):
        print(' ',end=' ')
    for k in range(0,st):
        print(num,end=' ')
        num-=1
    print()
    if i<n//2:
        sp-=1
        st+=2
    else:
        sp+=1
        st-=2

      1
    3 2 1
  5 4 3 2 1
7 6 5 4 3 2 1
  5 4 3 2 1
    3 2 1
      1

In [13]:
n=7
sp=n//2
st=1
for i in range(0,n):
    num=st//2+1
    for j in range(0,sp):
        print(' ',end=' ')
    for k in range(0,st):
        print(num,end=' ')
        num=num-1 if k<st//2 else num+1
    print()
    if i<n//2:
        sp-=1
        st+=2
    else:
        sp+=1
        st-=2

      1
    2 1 2
  3 2 1 2 3
4 3 2 1 2 3 4
  3 2 1 2 3
    2 1 2
      1

In [14]:
n=9
st=1
sp=n//2
for i in range(0,n):
    num=sp+1
    for j in range(0,sp):
        print(' ',end=' ')
    for k in range(0,st):
        print(num,end=' ' )
        num=num+1 if k<st//2 else num-1
    print()
    if i<n//2:
        sp-=1
        st+=2
    else:
        sp+=1
        st-=2

        5
      4 5 4
    3 4 5 4 3
  2 3 4 5 4 3 2
1 2 3 4 5 4 3 2 1
  2 3 4 5 4 3 2
    3 4 5 4 3
      4 5 4
        5

In [49]:
n=9
st=1
sp=n//2
for i in range(0,n):
    if i%2==0:
        num=1
    else:
        num=2
    for j in range(0,sp):
        print(' ',end=' ')
    for k in range(0,st):
        print(num,end=' ')
        if i%2==0:
            num=num+1 if k<st//2 else num-1
        else:
            num=num+2 if k<st//2 else num-2
    print()
    if i<n//2:
        sp-=1
        st+=2
    else:
        sp+=1
        st-=2

        1
      2 4 2
    1 2 3 2 1
  2 4 6 8 6 4 2
1 2 3 4 5 4 3 2 1
  2 4 6 8 6 4 2
    1 2 3 2 1
      2 4 2
        1

In [51]:
n=7
sp=n//2
st=1
for i in range(0,n):
    num=1
    for j in range(0,sp):
        print(' ',end=' ')
    for k in range(0,st):
        print(num,end=' ')
        num=num+1 if k<st//2 else num-1
    print()
    if i<n//2:
        sp-=1
        st+=2
    else:
        sp+=1
        st-=2

      1
    1 2 1
  1 2 3 2 1
1 2 3 4 3 2 1
  1 2 3 2 1
    1 2 1
      1

In [53]:
#TO FIND FACTORS OF GIVEN NO
num=100
for i in range(1,num+1):
    if num%i==0:
        print(i,end=' ')

1 2 4 5 10 20 25 50 100

In [74]:
#TO CHECK GIVEN NO IS PRIME NO
num=3
if num>1:
    for i in range(2,num//2+1):
        if num%i==0:
            print(f'{num} is NOT PRIME')
            break
    else:
        print(f'{num} is PRIME')
else:
    print(f'{num} is NOT PRIME')

3 is PRIME

In [67]:
#TO FIND PRIME NO IN GIVEN RANGE
for num in range(1,31):
    if num>1:
        for i in range(2,num//2+1):
            if num%i==0:
                break
        else:
            print(num,end=' ')

2 3 5 7 11 13 17 19 23 29

In [1]:
num=100
for i in range(1,num+1):
    if (num%i==0):
        print(i,end=' ')

1 2 4 5 10 20 25 50 100

In [2]:
num=90
if num>1:
    for i in range(2,num//2+1):
        if (num%i==0):
            print(f'{num} is not prime')
            break
    else:
        print(f'{num} is prime')
else:
    print(f'{num} not is prime')

90 is not prime

In [3]:
for num in range(1,101):
    if num>1:
        for i in range(2,num//2+1):
            if num%i==0:
                break
        else:
            print(num,end=' ')

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

In [4]:
count=0
num=1
while count!=25:
    if num>1:
        for i in range(2,num//2+1):
            if (num%i==0):
                break
        else:
            print(num,end=' ')
            count+=1
    num+=1

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

In [5]:
count=0
for num in range(1,101):
    if num>1:
        for i in range(2,num//2+1):
            if (num%i==0):
                break
        else:
            if count%2==0:
                print(num,end=' ')
            count+=1

2 5 11 17 23 31 41 47 59 67 73 83 97

In [22]:
num=6
sum=0
for i in range(1,num//2+1):
    if num%i==0:
        sum=sum+i
if num==sum:
    print('strong number')
else:
    print('not strong number')

strong number

In [26]:
for num in range(1,10000):
    sum=0
    for i in range(1,num//2+1):
        if num%i==0:
            sum+=i
    if num==sum:
        print(f'{num} strong number')

6 strong number
28 strong number
496 strong number
8128 strong number

In [1]:
num=1324
n=num
res=0
while num!=0:
    rem=num%10
    num=num//10
    res+=rem
print(f'sum of digit {n} is {res}')

sum of digit 1324 is 10

In [2]:
num=12345
n=num
res=1
while num!=0:
    rem=num%10
    num=num//10
    res*=rem
print(f'product of digit {n} is {res}')

product of digit 12345 is 120

In [3]:
num=132568
n=num
Eres=0
Ores=1
while num!=0:
    rem=num%10
    num//=10
    if rem%2==0:
        Eres+=rem
    else:
        Ores*=rem
print(f'sum of digit {n} is {Eres}')
print(f'product of digit {n} is {Ores}')

sum of digit 132568 is 16
product of digit 132568 is 15

In [4]:
num=872364
while num!=0:
    rem=num%10
    num//=10
    if rem>1:
        for i in range(2,rem//2+1):
            if rem%i==0:
                break
        else:
            print(rem,end=' ')

3 2 7

In [5]:
num=872364
n=num
res=0
while num!=0:
    rem=num%10
    num//=10
    if rem>1:
        for i in range(2,rem//2+1):
            if rem%i==0:
                break
        else:
            res+=rem
print(f'sum of prime digits of {n} is {res}')

sum of prime digits of 872364 is 12

In [6]:
num=12
n=num
res=0
while num!=0:
    rem=num%10
    num//=10
    res+=rem
if n%res==0:
    print(f'Given number {n} is niven number')
else:
    print(f'Given number {n} is not a niven number')

Given number 12 is niven number

In [1]:
#PROGRAM TO REVERSE NUMBER
num=123
n=num
rev=0
while num!=0:
    rem=num%10
    num//=10
    rev=rev*10+rem
print(rev)

321

In [4]:
#PROGRAM TO CHECK PALINDROME
num=121
n=num
rev=0
while num!=0:
    rem=num%10
    num//=10
    rev=rev*10+rem
if n==rev:
    print(f'{n} is PALINDROME')
else:
    print(f'{n} is NOT PALINDROME')

121 is PALINDROME

In [8]:
#TO CHECK NUMBER IS PALIPRIME
num=11
n=num
rev=0
while num!=0:
    rem=num%10
    num//=10
    rev=rev*10+rem
if n==rev and n>1:
    for i in range(2,n//2+1):
        if n%i==0:
            print('Number is not PALIPRIME')
            break
    else:
        print('Number is PALIPRIME')
else:
    print('Number is not PALIPRIME')

Number is PALIPRIME

In [17]:
#TO CHECK NUMBER IS EMIRP
num=17
n=num
rev=0
while num!=0:
    rem=num%10
    num//=10
    rev=rev*10+rem
if n!=rev:
    for i in range(2,n//2+1):
        if n%i==0:
            print('Number is not EMIRP ')
            break
    else:
        for j in range(2,rev//2+1):
            if rev%j==0:
                print('Number is not EMIRP')
                break
        else:
            print('Number is EMIRP')
else:
    print('Number is not EMIRP')

Number is EMIRP

In [20]:
#TO PRINT PALIPRIME NUMBERS IN GIVEN RANGE
for num in range(1,1000):
    n=num
    rev=0
    while num!=0:
        rem=num%10
        num//=10
        rev=rev*10+rem
    if n==rev and n>1:
        for i in range(2,n//2+1):
            if n%i==0:
                break
        else:
            print(n,end=' ')

2 3 5 7 11 101 131 151 181 191 313 353 373 383 727 757 787 797 919 929

In [22]:
for num in range(1,1000):
    n=num
    rev=0
    while num!=0:
        rem=num%10
        num//=10
        rev=rev*10+rem
    if n!=rev:
        for i in range(2,n//2+1):
            if n%i==0:
                break
        else:
            for j in range(2,rev//2+1):
                if rev%j==0:
                    break
            else:
                print(n,end=' ')

13 17 31 37 71 73 79 97 107 113 149 157 167 179 199 311 337 347 359 389 701 709 733 739 743 751 761 769 907 937 941 953 967 971 983 991

In [26]:
#TO CHECK IF NUMBER IS ARMSTRONG NUMBER
num=153
n=num
p=len(str(num))
res=0
while num!=0:
    rem=num%10
    num//=10
    res+=rem**p
if n==res:
    print(f'number {n} is ARMSTRONG NUMBER')
else:
    print(f'number {n} is not ARMSTRONG NUMBER')

number 153 is ARMSTRONG NUMBER

In [30]:
#TO CHECK IF NUMBER IS DISARUM NUMBER
num=135
n=num
res=0
p=len(str(num)) 
while num!=0:
    rem=num%10
    num//=10
    res+=rem**p
    p-=1
if res==n:
    print(f'number {n} is DISARUM NUMBER')
else:
    print(f'number {n} is  NOT DISARUM NUMBER')

number 135 is DISARUM NUMBER

In [32]:
# TO PRINT ARMSTRONG NUMBER IN GIVEN RANGE
for num in range(1,10000):
    n=num
    p=len(str(num))
    res=0
    while num!=0:
        rem=num%10
        num//=10
        res+=rem**p
    if n==res:
        print(n,end=' ')

1 2 3 4 5 6 7 8 9 153 370 371 407 1634 8208 9474

In [33]:
#TO PRINT DISARUM NUMBER IN GIVEN RANGE
for num in range(1,10000):
    n=num
    res=0
    p=len(str(num)) 
    while num!=0:
        rem=num%10
        num//=10
        res+=rem**p
        p-=1
    if res==n:
        print(n,end=' ')

1 2 3 4 5 6 7 8 9 89 135 175 518 598 1306 1676 2427

In [3]:
#CONVERT DECIMAL TO BINARY
num=18
res=0
p=1
while num!=0:
    rem=num%2
    num//=2
    res+=rem*p
    p*=10
print(res)

10010

In [7]:
#CONVERT BINARY TO DECIMAL
num=1011
res=0
p=0
while num!=0:
    rem=num%10
    num//=10
    res+=rem*2**p
    p+=1
print(res)

11

In [8]:
#TO REPLACE 5 WITH 3
num=25658
res=0
p=1
while num!=0:
    rem=num%10
    num//=10
    if rem==5:
        rem=3
    res+=rem*p
    p*=10
print(res)

23638

In [19]:
#FACTORIAL OF GIVEN NUMBER
n=7
fact=1
for i in range(1,n+1):
    fact*=i
print(fact)

5040

In [44]:
#REVESE A STRING WIHOUT USING SLICING
s='PYTHON'
res=''
for i in range(-1,-(len(s)+1),-1):
    res+=s[i]
print(res)

NOHTYP

In [33]:
#TO CHECK GIVEN STRING IS PALINDROME
s='HANNAH'
a=s[-1::-1]
if a==s:
    print('PALINDROME')
else:
    print('NOT PALINDROME')

PALINDROME

In [48]:
#TO CHECK GIVEN STRING IS PALINDROME
s='HANNAH'
res=''
for i in range(-1,-(len(s)+1),-1):
    res+=s[i]
if res==s:
    print('PALINDROME')
else:
    print('NOT PALINDROME')

PALINDROME

In [52]:
#TO CHECK GIVEN STRING IS PALINDROME WITHOUT REVERSING THE STRING
s='HANNAH'
for i in range(0,len(s)//2+1):
    if s[i]!=s[-(i+1)]:
        print('NOT PALINDROME')
        break
else:
    print(' PALINDROME')

 PALINDROME

In [51]:
#TO PRINT LENGTH OF STRING
s='ABCDE'
count=0
for i in s:
    count+=1
print(count)

5

In [56]:
#TO CONVERT LOWERCASE TO UPPERCASE
s='Python@123'
res=''
for i in range(0,len(s)):
    if 'a'<=s[i]<='z':
        res+=chr(ord(s[i])-32)
    else:
        res+=s[i]
print(res)

PYTHON@123

In [57]:
#TO CONVERT UPPERCASE TO LOWERCASE
s='Python@123'
res=''
for i in range(0,len(s)):
    if 'A'<=s[i]<='Z':
        res+=chr(ord(s[i])+32)
    else:
        res+=s[i]
print(res)

python@123

In [58]:
#TO CONVERT UPPERCASE TO LOWERCASE AND VICEVERSA
s='Python@123'
res=''
for i in range(0,len(s)):
    if 'A'<=s[i]<='Z':
        res+=chr(ord(s[i])+32)
    elif 'a'<=s[i]<='z':
        res+=chr(ord(s[i])-32)
    else:
        res+=s[i]
print(res)

pYTHON@123

In [59]:
#TO COUNT OCCURANCE OF GIVEN STRING
s='ENGINEERING'
count=0
ch='E'
for i in range(0,len(s)):
    if s[i]==ch:
        count+=1
print(count)

3

In [63]:
#TO PRINT INDEX OF GIVEN CHARACTER
s='ENGINEERING'
ch='E'
for i in range(0,len(s)):
    if s[i]==ch:
        print(i,end=' ')

0 5 6

In [ ]:
#TO CHECK GIVEN NUMBER IS SPECIAL NUMBER 
num=145
n=num
res=0
while num!=0:
    rem=num%10
    num//=10
    fact=1
    for i in range(1,rem+1):
        fact*=i
    res+=fact
if n==res:
    print('SPECIAL NUMBER')
else:
    print('NOT SPECIAL NUMBER')

SPECIAL NUMBER

In [2]:
#REMOVE DUPLICATES IN A STRING
s='ENGINEERING'
res=''
for i in range(0,len(s)):
    if s[i] not in res:
        res+=s[i]
print(res)

ENGIR

In [4]:
s='ENGINEERING'
res=''
for i in range(0,len(s)):
    if s[i] not in res:
        res+=s[i]
        print(f'{s[i]}={s.count(s[i])}',end=' ')

E=3 N=3 G=2 I=2 R=1

In [13]:
s='ENGINEERING'
D={}
for i in range(0,len(s)):
    if s[i] not in D:
        D[s[i]]=1
    else:
        D[s[i]]+=1
for k,v in D.items():
    print(f'{k} : {v}',end='  ')

E : 3  N : 3  G : 2  I : 2  R : 1

In [1]:
#TO PRINT SUBPALINDROMES IN GIVEN STRING
s='HANNAH'
for i in range(0,len(s)):
    for j in range(i+1,len(s)+1):
        ss=s[i:j]
        if ss==ss[ : : -1]:
            print(ss,end=' ')

H HANNAH A ANNA N NN N A H

In [17]:
s='HANNAH'
for i in range(0,len(s)):
    for j in range(i+1,len(s)+1):
        ss=s[i:j]
        for k in range(0,len(ss)//2+1):
            if ss[k]!=ss[-(k+1)]:
                break
        else:
            print(ss,end=' ')

H HANNAH A ANNA N NN N A H

In [8]:
#TO COUNT VOWELS IN STRING
s='ENGINEERING'
vow='AEIOUaeiou'
count=0
for i in range(0,len(s)):
    if s[i] in vow:
        count+=1
print(count)

5

In [12]:
#TO PRINT VOWELS IN STRING
s='ENGINEERING'
vow='AEIOUaeiou'
res=''
for i in range(0,len(s)):
    if s[i] in vow:
        res+=s[i]
print(res)

EIEEI

In [14]:
#TO COUNT DIGITS IN GIVEN STRING
s='AC12DC3KJ23A5'
count=0
for i in range(0,len(s)):
    if '0'<=s[i]<='9':
        count+=1
print(count)

6

In [18]:
#TO PRINT PRIME NO IN STRING
s='AB7E2J346A85'
for i in range(0,len(s)):
    if '0'<=s[i]<='9':
        num=int(s[i])
        if num>1:
            for j in range(2,num//2+1):
                if num%j==0:
                    break
            else:
                print(num,end=' ')

7 2 3 5

In [3]:
s='ENGINEERING'
res=''
for i in range(-1,-(len(s)+1),-1):
    if s[i]=='E':
        res+='@'
    else:
        res+=s[i]
print(res)

GNIR@@NIGN@

In [13]:
s='ABCD'
res=0
for i in range(0,len(s)):
    res+=ord(s[i])
print(res)

266

In [14]:
#SPLIT STRING WITHOUT USING SPLIT METHOD
s='WE ARE HERE'
l=[]
ss=''
for i in range(0,len(s)):
    if s[i]!=' ':
        ss+=s[i]
    else:
        l.append(ss)
        ss=''
l.append(ss)
print(l)

['WE', 'ARE', 'HERE']

In [16]:
#TO PRINT HIGHEST OF VALUE IN LIST
l=[15,14,18,25,17,15]
H=l[0]
for i in range(1,len(l)):
    if H<l[i]:
        H=l[i]
print(H)

25

In [24]:
#TO PRINT LOWEST OF VALUE IN LIST
l=[15,14,18,25,17,15]
M=l[0]
for i in range(1,len(l)):
    if M>l[i]:
        M=l[i]
print(M)

14

In [10]:
l=[10,15,1,14,13,6]
for i in range(0,len(l)//2):
    l[i],l[len(l)-(i+1)]=l[len(l)-(i+1)],l[i]
print(l)

[6, 13, 14, 1, 15, 10]

In [3]:
l=[10,15,1,14,13,6]
i=0
while i!=len(l)//2:
    l[i],l[len(l)-i-1]=l[len(l)-i-1],l[i]
    i+=1
print(l)

[6, 13, 14, 1, 15, 10]

In [56]:
l=[11,12,13,11,12,111,23,23,23]
nl=[]
for i in range(0,len(l)):
    if l[i] not in nl:
        nl.append(l[i])
print(nl)

[11, 12, 13, 111, 23]

In [2]:
l=[15,14,18,25,17,15,100]
H=l[0]
i=1
while i!=len(l):
    if H<l[i]:
        H=l[i]
    i+=1
print(H)

100

In [12]:
l=[12,13,10,15,17,15,2]
for i in range(0,len(l)):
    if l[i]%2==0:
        print(l[i],end=' ')

12 10 2

In [14]:
l=[12,13,10,15,17,15,2]
i=0
while i!=len(l):
    if l[i]%2==0:
        print(l[i],end=' ')
    i+=1

12 10 2

In [15]:
l=[12,13,10,15,17,15,2]
for i in range(0,len(l)):
    if i%2==0:
        print(l[i],end=' ')

12 10 17 2

In [16]:
l=[12,13,10,15,17,15,2]
i=0
while i!=len(l):
    if i%2==0:
        print(l[i],end=' ')
    i+=1

12 10 17 2

In [17]:
l=[12,13,10,15,17,15,2]
for i in range(0,len(l)):
    if l[i]%2!=0:
        print(l[i],end=' ')

13 15 17 15

In [18]:
l=[12,13,10,15,17,15,2]
i=0
while i!=len(l):
    if l[i]%2!=0:
        print(l[i],end=' ')
    i+=1

13 15 17 15

In [19]:
l=[12,13,10,15,17,15,2]
for i in range(0,len(l)):
    if i%2!=0:
        print(l[i],end=' ')

13 15 15

In [21]:
l=[12,13,10,15,17,15,2]
i=0
while i!=len(l):
    if i%2!=0:
        print(l[i],end=' ')
    i+=1

13 15 15

In [22]:
#TO PRINT FIRST HALF OF LIST
l=[12,13,12,10,15,17,16]
for i in range(0,len(l)//2+1):
    print(l[i],end=' ')

12 13 12 10

In [29]:
#TO PRINT SECOND HALF OF LIST
l=[12,13,12,10,15,17,16]
for i in range(len(l)//2,len(l)):
    print(l[i],end=' ')

10 15 17 16

In [30]:
l=[12,13,19,10,17,16]
El=[]
Ol=[]
for i in range(0,len(l)):
    if l[i]%2==0:
        El.append(l[i])
    else:
        Ol.append(l[i])
print(El+Ol)

[12, 10, 16, 13, 19, 17]

In [64]:
l=[2,3,4,5,1,2,7]
for i in range(0,len(l)):
    if l[i]==4 or l[i]==2:
        l[i]*=10
    else:
        l[i]=10
print(l)

[20, 10, 40, 10, 10, 20, 10]

In [119]:
s='WE NEVER TAKE REST'
l=[]
ss=''
for i in range(0,len(s)):
    if s[i]!=' ':
        ss+=s[i]
    else:
        l.append(ss)
        ss=''
l.append(ss)
for j in range(0,len(l)//2):
    l[j],l[len(l)-j-1]=l[len(l)-j-1],l[j]

print(' '.join(l))

REST TAKE NEVER WE

In [4]:
s='WE NEVER TAKE REST'
ss=''
res=''
for i in range(0,len(s)):
    if s[i]!=' ':
        ss+=s[i]
    else:
        res=ss+' '+res
        ss=''
res=ss+' '+res
print(res[:-1])

REST TAKE NEVER WE

In [3]:
s='WE NEVER TAKE REST'
l=[]
ss=''
for i in range(0,len(s)):
    if s[i]!=' ':
        ss+=s[i]
    else:
        l.insert(0,ss)
        ss=''
l.insert(0,ss)
print(' '.join(l))

REST TAKE NEVER WE

In [9]:
s='WE NEVER TAKE REST'
l=s.split()
for i in range(0,len(l)):
    l[i]=l[i][::-1]
print(' '.join(l))

EW REVEN EKAT TSER

In [11]:
s='WE NEVER TAKE REST'
ss=''
res=''
for i in range(0,len(s)):
    if s[i]!=' ':
        ss+=s[i]
    else:
        res=res+' '+ss[::-1]
        ss=''
res=res+' '+ss[::-1]
print(res[1:])

EW REVEN EKAT TSER

In [25]:
s='ENGINEERING'
d={}
values=[]
for i in range(0,len(s)):
    if s[i] not in d:
        d[s[i]]=1
    else:
        d[s[i]]+=1
for v in d.values():
    values.append(v)
H=values[0]
for i in range(0,len(values)):
    if H<values[i]:
        H=values[i]
for k,v in d.items():
    if H==v:
        print(f'{k}',end=' ')

E 3 N 3

In [2]:
#TO PRINT LENGTHEST WORD IN STRING
s='I AM BLIND BUT I AM TRAINED'
l=s.split()
d={}
for i in range(0,len(l)):
    if l[i] not in d:
        d[l[i]]=len(l[i])
H=max(d.values())
for k,v in d.items():
    if H==v:
        print(k)

TRAINED

In [4]:
#TO PRINT UNIQUE VALUE IN A LIST
l=[10,12,13,12,22,23,14,12]
for i in range(0,len(l)):
    if l.count(l[i])==1:
        print(l[i],end=' ')

10 13 22 23 14

In [6]:
#TO PRINT DUPLICATES IN LIST
l=[10,12,13,12,10,13,14,12,9]
pl=[]
for i in range(0,len(l)):
    if l.count(l[i])>1 and l[i] not in pl:
        print(l[i],end=' ')
        pl.append(l[i])

10 12 13

In [7]:
#TO PRINT PRIME VALUES IN A LIST
l=[2,12,24,15,17,19]
for i in  range(0,len(l)):
    if l[i]>1:
        for j in range(2,l[i]//2+1):
            if l[i]%j==0:
                break
        else:
            print(l[i],end=' ')

2 17 19

In [20]:
s='aaabbacccdddbbc'
count=1
res=''
for i in range(0,len(s)-1):
    if s[i]==s[i+1]:
        count+=1
    else:
        res+=str(count)+s[i]
        count=1
res+=str(count)+s[i+1]
print(res,)

3a2b1a3c3d2b1c

In [18]:
s='aaabbbbccaaaaacccc'
d={}
count=1
for i in range(0,len(s)-1):
    if s[i]==s[i+1]:
        count+=1
    else:
        d[s[i]*count]=count
        count=1
d[s[i]*count]=count
H=max(d.values())
for k,v in d.items():
    if H==v:
        print(k)

aaaaa

In [7]:
#TO PRINT LARGHEST SUBSTRING WITHOUT REPEATING 
s='abdcabcabxcde'
res=''
d={}
for i in range(0,len(s)):
    if s[i] not in res:
        res+=s[i]
    else:
        d[res]=len(res)
        res=s[i]
d[res]=len(res)
print(d)
h=max(d.values())
for k,v in d.items():
    if h==v:
        print(k)

{'abdc': 4, 'abc': 3, 'abxcde': 6}
abxcde

In [ ]:
s='abdcabcabxcde'
d={}
res=''
for i in range(0,len(s)):
    if s[i] not in res:
        res+=s[i]
    else:
        d[res]=len(res)
        res=s[i]
d[res]=len(res)
h=max(d.values())
print(h)

abxcde

In [13]:
s='abdcabcabxcde'
res=''
h=0
for i in range(0,len(s)):
    if s[i] not in res:
        res+=s[i]
    else:
        if h<len(res):
            h=len(res)
        res=s[i]
if h<len(res):
    h=len(res)
    #res=s[i]
print(h)

6

In [47]:
l=[1,2,3,4,5,6,7]
res=6
for i in range(0,len(l)-1):
    for j in range(i+1,len(l)):
        if l[i]+l[j]==res:
            print(l[i],l[j])

1 5
2 4

In [1]:
#PANAGRAM
s1='The quick brown fox jumps over the lazy dog'
s2=s1.upper()
for i in range(65,91):
    if chr(i) not in s2:
        print('NOT PANAGRAM')
        break
else:
    print('PANAGRAM')

PANAGRAM

In [5]:
l=[10,0,9,0,11,15,0,19]
for i in range(0,l.count(0)):
    for j in range(0,len(l)-i-1):
        if l[j]==0:
            l[j],l[j+1]=l[j+1],l[j]
print(l)

[10, 9, 11, 15, 19, 0, 0, 0]

In [6]:
l=[9,5,4,3,2]
for i in range(0,len(l)-1):
    for j in range(0,len(l)-i-1):
        if l[j]>l[j+1]:
            l[j],l[j+1]=l[j+1],l[j]
print(l)

[2, 3, 4, 5, 9]

In [7]:
l=[10,3,11,12,7,9]
for i in range(0,len(l)-1):
    m=i
    for j in range(i+1,len(l)):
        if l[m]>l[j]:
            m=j
    l[i],l[m]=l[m],l[i]
print(l)

[3, 7, 9, 10, 11, 12]

In [5]:
#TO PRINT SECOND HIGHEST VALUE
l=[25,15,10,13,12,71,14]
for i in range(0,2):
    for j in range(0,len(l)-i-1):
        if l[j]>l[j+1]:
            l[j],l[j+1]=l[j+1],l[j]
print(l[-2])

25

In [6]:
#SWAP FIRST AND LAST DIGITS
l=[11,12,13,14,15]
l[0],l[-1]=l[-1],l[0]
print(l)

[15, 12, 13, 14, 11]

In [7]:
#CLOCKWISE ROTATION
l=[25,15,10,13,12]
for i in range(0,2):
    val=l.pop(0)
    l.append(val)
print(l)

[10, 13, 12, 25, 15]

In [8]:
#ANTICLOCKWISE ROTATION
l=[25,15,10,13,12]
for i in range(0,2):
    val=l.pop()
    l.insert(0,val)
print(l)

[13, 12, 25, 15, 10]

In [10]:
#TO PRINT ALL THE CLOCKWISE RATATION
s='ABCD'
l=list(s)
for i in range(0,len(s)):
    val=l.pop(0)
    l.append(val)
    print(''.join(l),end=' ')

BCDA CDAB DABC ABCD

In [13]:
s1='ABCD'
s2='CDAB'
l=list(s1)
for i in range(0,len(l)):
    val=l.pop(0)
    l.append(val)
    if s2==''.join(l):
        print('YES')
        break
else:
    print('NO')

YES

In [28]:
#PRIME NO USING RECURSION
def PrimeR(num,i):
    if num<=1 or num%i==0:
        return False
    if i==num//2+1:
        return True
    return PrimeR(num,i+1)

if PrimeR(11,2):
    print('Prime No')
else:
    print("NOT Prime No")

Prime No

In [27]:
#TO ADD DIGITS IN A NUMBER USING RECURSION
def AddNo(num):
    if num==0:
        return 0
    return num%10 + AddNo(num//10)

AddNo(123)

6

In [26]:
#TO FIND FACTORIALS USING RECURSION
def Factorial(num):
    if num==0 or num==1:
        return 1
    return num*Factorial(num-1)

Factorial(7)

5040

In [25]:
#TO COUNT DIGIT USING RECURSION
def Count(num):
    if num==0:
        return 0
    return 1+Count(num//10)

Count(1234)

4

In [24]:
#ARMSTRONG NUMBER USING RECURSION
def Count(num):
    if num==0:
        return 0
    return 1 + Count(num//10)

def Armstrong(num,p):
    if num==0:
        return 0
    return (num%10)**p + Armstrong(num//10,p)

n=153
p=Count(n)
if n==Armstrong(n,p):
    print('Armstrong')
else:
    print('Not Armstrong')

Armstrong

In [23]:
def Count(num):
    if num==0:
        return 0
    return 1 + Count(num//10)

def Disarum(num,p):
    if num==0:
        return 0
    return (num%10)**p + Disarum(num//10,p-1)

num=135
if num==Disarum(num,Count(num)):
    print('Disarum')
else:
    print('Not Disarum')

Disarum

In [22]:
def RevString(s,i):
    if i==-(len(s)+1):
        return ''
    return s[i]+RevString(s,i-1)

s='ABCD'
RevString(s,-1)

'DCBA'

In [21]:
def Fact(num):
    if num==0 or num==1:
        return 1
    return num*Fact(num-1)

def Special(num):
    if num==0:
        return 0
    return Fact(num%10)+Special(num//10)

Special(145)

145

In [9]:
def Binary(num,p):
    if num==0:
        return 0
    return (num%2)*p + Binary(num//2,p*10)

Binary(14,1)

1110

In [7]:
def Count(num):
    if num==0:
        return 0
    return 1+Count(num//10)
def RevDigit(num,p):
    if num==0:
        return 0
    return (num%10)*p + RevDigit(num//10,p//10)

num=1234
RevDigit(num,10**(Count(num)-1))

4321

In [11]:
def Fibonacci(n):
    First=0
    Second=1
    for i in range(n):
        print(First,end=' ')
        Next=First+Second
        First,Second=Second,Next
        
Fibonacci(10)

0 1 1 2 3 5 8 13 21 34

In [20]:
num=13
First,Second=0,1
while num>=First:
    if First==num:
        print('YES')
        break
    Next=First+Second
    First,Second=Second,Next
else:
    print('NO')

YES